img {
	width: 100%;
}

/*/BURGER MENU/*/

.hidden {
	/*    display: none;*/
	/*    transform: scale(0);*/
	transform: translateX(-100%);
	opacity: 0;
}

#menuknap {
	display: inline-block;
}

#menu {
	list-style-type: none;
	transition: transform .3s;
	transform-origin: top left;
}


@media only screen and (min-width: 600px) {

	#menuknap {
		display: none;
	}

	#menu.hidden {
		transform: translateX(0);
		opacity: 1;
	}

	#menu li {
		display: inline-block;
	}
}

#menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 200px;
	background-color: #f1f1f1;
}


li a {
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: underline
}

li a:hover {
	background-color: #555;
	color: antiquewhite;
}

/* --------------  FORSIDE  ---------------  */

#portfolie {
max-width: 1200px;
	margin: auto;
	align-items: center;

}

body {
	background-color: white;

}

#portfolie {
	max-width: 1200px;
	margin: auto;

}


#portfolie .container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}


#portfolie .column {
	flex-grow: 1;
	flex-basis: 350px;
	display: flex;
	flex-direction: row;
	margin: 20px;
}

@media screen and (max-width: 600px) {
	#portfolie .column {
		flex-grow: 1;
		flex-basis: 350px;
		display: flex;
		flex-direction: row;
		margin: 20px;
		padding-left: 3rem;
		padding-right: 3rem;
	}
}

#portfolie .txt {
	align-content: center;
	display: flex;
	color: #fff;
	position: absolute;
	z-index: 1;
	pointer-events: none;
}



/* ----------  ENKELTE  BILLEDER PÅ FORSIDEN --------------  */

#portfolie .felt1 {
	background-image: url(pictures/1.jpeg);
	background-size: cover;
	width: 360px;
	height: 360px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;

}

#portfolie .overlay1 {
	position: absolute;
	background-color: rgba(650, 103, 18, 0.5);
	width: 100%;
	height: 100%;
}



#portfolie .overlay1:hover {
	background-color: rgba(0, 0, 0, 0);
}




#portfolie .felt2 {
	background-image: url(pictures/2.jpeg);
	background-size: 100%;
	width: 360px;
	height: 360px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

#portfolie .overlay2 {
	position: absolute;
	background-color: rgba(186, 91, 157, 0.5);
	width: 100%;
	height: 100%;
}



#portfolie .overlay2:hover {
	background-color: rgb(0, 0, 0, 0);
	filter: blur(50px)
}




#portfolie .felt3 {
	background-image: url(pictures/3.jpeg);
	background-size: 100%;
	width: 360px;
	height: 360px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

#portfolie .overlay3 {
	position: absolute;
	background-color: rgba(53, 98, 168, 0.5);
	width: 100%;
	height: 100%;
}



#portfolie .overlay3:hover {
	background-color: rgba(0, 0, 0, 0);
}

#portfolie .felt4 {
	background-image: url(pictures/4.jpeg);
	background-size: 100%;
	width: 360px;
	height: 360px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

#portfolie .overlay4 {
	position: absolute;
	background-color: rgba(53, 98, 168, 0.5);
	width: 100%;
	height: 100%;
}



#portfolie .overlay4:hover {
	background-color: rgba(0, 0, 0, 0);
}





/* --------------   FONTS: --------------------    */

h3 {
	font-size: 2.3rem;
	font-family:,
		sans-serif;
	font-weight: 600;
	font-style: italic;

}

h5 {
	font-size: 5.5rem;
	font-family: facto,
		sans-serif;
	font-weight: 500;
	font-style: normal;
}

h6 {
	font-family: facto,
		sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 1.3rem;
	margin: 0;

}

#portfolie a {
	font-family: facto,
		sans-serif;
	font-weight: 300;
	font-style: normal;
	color: black;
	text-decoration: none;
}

#portfolie a:hover {
	color: black;
	text-decoration: none;
}




p {
	font-family:inherit;
	font-weight: 300;
	font-style: normal;
	font-size: 1rem;
}

a {
	color: black;

}

a:visited {
	color: black;
}

a:hover {
	color: brown;
}
