img {
	width: auto;
	max-width: 100%;
	height: auto;
}


/* --------------  PORTFOLIE  ----- */


body {
	background-color: rgba(255, 192, 203, 0.24);
	@media screen and (max-width: 400px) @media screen and (max-width: 1217px)
}


#portfolie .container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 50vh;

}


#portfolie .container2 {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 50vh;

}

#portfolie .column1 {
	flex-grow: 0;
	flex-basis: 2px;
	display: flex;
	margin-left: 3vw;
	margin-top: 2vw;
	text-align: center;

}

#portfolie .column2 {
	flex-grow: 0;
	flex-basis: 20px;
	display: flex;
	margin-left: 3vw;
	margin-top: 2vw;
	text-align: center;

}

#portfolie .column3 {
	flex-grow: 0;
	flex-basis: 20px;
	display: flex;
	margin-left: 3vw;
	margin-top: 2vw;
	text-align: center;

}

#portfolie .column4 {
	flex-grow: 0;
	flex-basis: 20px;
	display: flex;
	margin-left: 3vw;
	margin-top: 2vw;
	text-align: center;

}



#portfolie .felt1 {
	position: relative;
	background-image: url(pictures/stilartside.png);
	background-size: cover;
	background-position: center;
	width: 45vw;
	height: 100%;
	flex-grow: 1;
	flex-basis: 400px;
}

#portfolie .felt2 {
	position: relative;
	background-image: url(pictures/bbjob.png);
	background-size: cover;
	background-position: center;


	width: 45vw;
	height: 100%;
	flex-grow: 1;
	flex-basis: 400px;


}



#portfolie .felt3 {
	position: relative;
	background-image: url(pictures/redesign.png);
	background-size: cover;
	background-position: center;
	width: 45vw;
	height: 100%;
	flex-grow: 1;
	flex-basis: 400px;
}

#portfolie .felt4 {
	position: relative;
	background-image: url(pictures/user.png);
	background-size: cover;
	background-position: center;
	width: 45vw;
	height: 100%;
	flex-grow: 1;
	flex-basis: 400px;
}


/*/ OVERLAYS /*/

#portfolie .overlay1 {
	position: absolute;
	background-color: rgba(192, 192, 192, 0.5);
	width: 100%;
	height: 100%;
}

#portfolie .overlay1:hover {
	background-color: rgba(0, 0, 0, 0);
}

#portfolie .overlay2 {
	position: absolute;
	background-color: rgba(192, 192, 192, 0.5);
	width: 100%;
	height: 100%;
}

#portfolie .overlay2:hover {
	background-color: rgba(0, 0, 0, 0);
}

#portfolie .overlay3 {
	position: absolute;
	background-color: rgba(192, 192, 192, 0.5);
	width: 100%;
	height: 100%;
}

#portfolie .overlay3:hover {
	background-color: rgba(0, 0, 0, 0);
}

#portfolie .overlay4 {
	position: absolute;
	background-color: rgba(192, 192, 192, 0.5);
	width: 100%;
	height: 100%;
}

#portfolie .overlay4:hover {
	background-color: rgba(0, 0, 0, 0);
}




/*/ HOVER /*/
#portfolie a {
	font-family: montserrat, sans-serif;
	font-style: normal;
	font-weight: 400;
	color: black;
	text-decoration: none;
}



/*/ FONT /*/

#portfolie h3 {
	font-size: 1.3rem;
	font-family: montserrat, sans-serif;
	font-weight: ;
	font-style: normal;
	color: white;
	text-align: center;
	top: 150px;
	position: relative;

}

.txt h3 {
	border: 1px solid #fff;
	border-left: 0;
	border-right: 0;
	letter-spacing: .3em;
	padding: 14px 30px;

	position: relative;
}




/* OM MIG */

html {
	font-family: montserrat, sans-serif;
}

* {
	box-sizing: border-box;
}

body {

	font-weight: 400;
	font-style: normal;

}


img {
	width: 100%;
}

/*--------------------------CV--------------------*/



#om_mig {
	display: block;
	background-size: contain;
	/*
    margin: 0;
    padding: 0;
*/
	flex-grow: 2;
	flex-basis: 1;

}

#om_mig h1 {
	position: relative;
	top: 1vw;
	text-align: center;
	font-weight: 100;
	font-size: 1.5em;

}

#om_mig .box1 {

	padding-bottom: 5vw;
	text-align: center;
	padding-left: 30vw;
	padding-right: 30vw;
	line-height: 2em;
	padding-top: 2vw;
	font-size: 1em;
	flex-direction: row;
	position: relative;
	justify-content: space-between;

}


#om_mig .box2 {

	padding-left: 20vw;
	position: relative;
	margin-right: 30vw;
	left: 10vw;
	top: -3vw;
	display: block;
	flex-direction: row;
	flex-basis: 1;
	flex-grow: 2;

}

.erfaring img {
	padding-bottom: -10vw;
	padding-bottom: -10vw;
	padding-right: -10vw;
	line-height: 10em;
	padding-top: 3vw;
	flex-direction: row;
	position: relative;
	flex-grow: 2;
	flex-basis: 1;


}

/*ANIMATIONSTEMA*/

#animation {
	display: block;
	background-color: rgba(255, 192, 203, 0.24);
	background-size: contain;
	/*
    margin: 0;
    padding: 0;
*/
	flex-grow: 2;
	flex-basis: 1;

}

#animation h1 {
	position: relative;
	top: 1vw;
	text-align: center;
	font-weight: 100;
	font-size: 2em;

}

#animation .box1 {

	padding-bottom: 5vw;
	text-align: center;
	padding-left: 15vw;
	padding-right: 15vw;
	line-height: 2em;
	padding-top: 2vw;
	font-size: 1em;
	flex-direction: row;
	position: relative;
	justify-content: space-between;

}

#animation .col {}

#animation .box2 {

	padding-left: 20vw;
	position: relative;
	margin-right: 9vw;
	left: -5vw;
	top: -2vw;
	display: block;
	flex-direction: row;
	flex-basis: 1;
	flex-grow: 2;

}


#animation a:link {
	color: cornflowerblue;
}


#animation a:visited {
	color: violet;
}

#animation a:hover {
	color: mediumslateblue;
}

/*CONTENTTEMA*/

#content {
	display: block;
	background-color: rgba(255, 192, 203, 0.24);
	background-size: contain;
	/*
    margin: 0;
    padding: 0;
*/
	flex-grow: 2;
	flex-basis: 1;

}

#content h1 {
	position: relative;
	top: 1vw;
	text-align: center;
	font-weight: 100;
	font-size: 2em;

}

#content .box1 {

	padding-bottom: 5vw;
	text-align: center;
	padding-left: 15vw;
	padding-right: 15vw;
	line-height: 2em;
	padding-top: 2vw;
	font-size: 1em;
	flex-direction: row;
	position: relative;
	justify-content: space-between;

}


#content .box2 {

	padding-left: 20vw;
	position: relative;
	margin-right: 9vw;
	left: -5vw;
	top: -3vw;
	display: block;
	flex-direction: row;
	flex-basis: 1;
	flex-grow: 2;

}


/* unvisited link */
#content a:link {
	color: cornflowerblue;
}


#content a:visited {
	color: violet;
}

#content a:hover {
	color: mediumslateblue;
}

/*UX*/

#ux {
	display: block;
	background-color: rgba(255, 192, 203, 0.24);
	background-size: contain;
	/*
    margin: 0;
    padding: 0;
*/
	flex-grow: 2;
	flex-basis: 1;

}

#ux h1 {
	position: relative;
	top: 1vw;
	text-align: center;
	font-weight: 100;
	font-size: 2em;

}

#ux .box1 {

	padding-bottom: 5vw;
	text-align: center;
	padding-left: 15vw;
	padding-right: 15vw;
	line-height: 2em;
	padding-top: 2vw;
	font-size: 1em;
	flex-direction: row;
	position: relative;
	justify-content: space-between;

}


#ux .box2 {

	padding-left: 20vw;
	position: relative;
	margin-right: 9vw;
	left: -5vw;
	top: -3vw;
	display: block;
	flex-direction: row;
	flex-basis: 1;
	flex-grow: 2;

}

/* unvisited link */
#ux a:link {
	color: cornflowerblue;
}


#ux a:visited {
	color: violet;
}

#ux a:hover {
	color: mediumslateblue;
}


/*WEB*/

#web {
	display: block;
	background-color: rgba(255, 192, 203, 0.24);
	background-size: contain;
	/*
    margin: 0;
    padding: 0;
*/
	flex-grow: 2;
	flex-basis: 1;

}

#web h1 {
	position: relative;
	top: 1vw;
	text-align: center;
	font-weight: 100;
	font-size: 2em;

}

#web .box1 {

	padding-bottom: 5vw;
	text-align: center;
	padding-left: 15vw;
	padding-right: 15vw;
	line-height: 2em;
	padding-top: 2vw;
	font-size: 1em;
	flex-direction: row;
	position: relative;
	justify-content: space-between;

}


#web .box2 {

	padding-left: 20vw;
	position: relative;
	margin-right: 9vw;
	left: -5vw;
	top: -3vw;
	display: block;
	flex-direction: row;
	flex-basis: 1;
	flex-grow: 2;

}

/* unvisited link */
#web a:link {
	color: cornflowerblue;
}


#web a:visited {
	color: violet;
}

#web a:hover {
	color: mediumslateblue;
}



/*FORSIDE*/

/*/
#frontpage img {
	display: flex;
	position: relative;
	top: 4vw;
	left: 12vw;
	width: 80%;
	height: 50vw;
}
/*/

#frontpage img {
	display: flex;
	position: relative;
	background-size: contain;
	background-repeat: repeat;

}


footer {
	position: relative;
	bottom: -75vw;
	left: 2vw;
}

/*Burgermenu*/


* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.hidden {
	display: none;
}

nav {
	justify-content: space-between;
	display: flex;
	background-color: #8FBBC4;
	min-height: 4vw;
	width: 100vw;
}

ul {
	padding: 4;
}

/* Menu Mobil */

#menuMobil a {
	display: block;
	text-decoration: none;
	color: white;
	margin-top: 14vw;
	margin-bottom: 10vw;
	font-family: monserrat, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#menuknapMobil {
	z-index: 20;
	width: 8vw;
	height: 8vw;
	margin-right: 5vw;
	margin-top: 4rem;
}

#menuMobil {
	width: 100%;
	top: 10vh;
	right: 0;
	min-height: 100vh;
	position: absolute;
	z-index: 6;
	font-size: 1rem;
	background-color: #8FBBC4;
	transition: .3s;
	text-align: center;
	padding-bottom: 20vw;
	transition: transform 2s ease-in;
}


#menuDesktop {
	width: 100vw;
	min-height: 2vw;
	display: flex;
	justify-content: space-around;

}

.navigation {
	margin-top: 2vw;
	letter-spacing: 3px;
}

#menuDesktop a {
	text-decoration: none;
	font-size: 1em;
	color: antiquewhite;
	padding: 4rem;
	font-family: 'Montserrat',
		sans-serif;
	*
}

#menuDesktop a:hover {
	color: hotpink;

}


.logo h4 {
	font-size: 1em;
	color: white;
	margin-top: 1.5vw;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 6px;
}


@media only screen and (max-width: 768px) {


	.navigation {
		display: none;

	}

	.navnTekst {
		padding-top: 55vw;
		text-align: center;
		font-size: 2rem;
	}



	.logo h4 {
		font-size: 1.1rem;
		color: white;
		margin-top: 1vw;
		font-family: 'Montserrat', sans-serif;
		letter-spacing: 2px;
		margin-left: 2vw;
		padding-left: 0;

	}


	#menuknapMobil {
		z-index: 10;
		width: 8vw;
		min-height: 12vw;
		margin-top: 2vw;
		margin-right: 4vw;
		margin-bottom: 2vw;

	}


	#menuDesktop {
		width: 100%;
		padding-right: 15rem;
		min-height: 2vw;
		display: flex;
		justify-content: space-around;

	}

}


@media only screen and (min-width: 768px) {

	#menuMobil {
		display: none;

	}

	#menuknapMobil {
		display: none;

	}

	#menu.hidden {
		transform: translateX(0);
		opacity: 1;
	}

	#menu li {
		display: inline-block;

	}


}
